[Unit]
Description=Watchdog check for VE.Direct and TheengsGateway app services
After=vedirect-mqtt.service
After=theengs-gateway.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vedirect-app-watchdog.sh